@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-200;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #171717 #fff;
    scroll-snap-align: 50%;
  }
  
.scrollbar::-webkit-scrollbar {
  width: 20px;
}
.scrollbar::-webkit-scrollbar-track { 
  background: #fff;
}
.scrollbar::-webkit-scrollbar-thumb { 
  background:#171717;
}
